numpy==1.*

# Note: Also need BLAS and gfortran to install scipy
# sudo apt-get install libopenblas-dev
# sudo apt install gfortran
scipy==1.*

# For Mesh support
trimesh==3.*
# Missing Trimesh dependency
networkx==2.*

# For target field calculations
sympy==1.*

# For visualisation of matrices
pillow<=9.5
matplotlib==3.*certifi==2026.2.25
charset-normalizer==3.4.6
docopt==0.6.2
idna==3.11
pipreqs==0.4.13
requests==2.32.5
urllib3==2.6.3
yarg==0.1.10
